<div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <button (click)="refresh()"mat-raised-button color="accent" ><mat-icon>refresh</mat-icon></button>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="orderId">
      <mat-header-cell *matHeaderCellDef  > Order Id </mat-header-cell>
      <mat-cell *matCellDef="let order"  > {{order.orderId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerId">

      <mat-header-cell *matHeaderCellDef> <mat-icon>person  </mat-icon>  Customer </mat-header-cell>
      <mat-cell *matCellDef="let order"> <div *ngIf="order.customerId != null">{{order.customer.firstName}} {{order.customer.lastName}}</div> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerPhone"  >
        <mat-header-cell *matHeaderCellDef><mat-icon>local_phone</mat-icon>  </mat-header-cell>
        <mat-cell *matCellDef="let order"> <div *ngIf="order.customerId != null">{{order.customer.phone}}</div> </mat-cell>
      </ng-container>
    <ng-container matColumnDef="motoboyName">
      <mat-header-cell *matHeaderCellDef><mat-icon>directions_bike</mat-icon>  Moto Boy </mat-header-cell>
      <mat-cell *matCellDef="let order"> <div *ngIf="order.motoboyId && order.customerId != null">{{order.motoboy.firstName}} {{order.motoboy.lastName}}</div> </mat-cell>

    </ng-container>
    <ng-container matColumnDef="localAddress">
      <mat-header-cell *matHeaderCellDef><mat-icon>pin_drop</mat-icon> Collecting Address </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.localAddress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="destAddress">
      <mat-header-cell *matHeaderCellDef><mat-icon>location_searching</mat-icon>Delivery Address</mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.destAddress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.price}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderDate">
      <mat-header-cell *matHeaderCellDef> <mat-icon>access_time</mat-icon>  Order Time</mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.orderDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">

      <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
      <mat-cell  *matCellDef="let order">
      <button *ngIf="order.motoboy === null" (click)="handleAsignToOrder(order)" mat-raised-button color="accent"><mat-icon>assignment</mat-icon>Assign</button>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.status.name}} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>>
    <mat-cell *matCellDef="let order">  
      <button   matTooltip="Edit Order" mat-raised-button color="accent" (click)="editOrder(order.orderId)" ><mat-icon>visibility</mat-icon>View</button>
    </mat-cell>>
  </ng-container>

  <ng-container matColumnDef="Picked up">
    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>>
    <mat-cell *matCellDef="let order">  
      <button   matTooltip="Edit Order" mat-raised-button color="accent" (click)="editOrder(order.orderId)"><mat-icon>directions_bike</mat-icon>picked up</button>
    </mat-cell>>
  </ng-container>

  <ng-container matColumnDef="map">
    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>>
    <mat-cell *matCellDef="let order">  
      <button   matTooltip="Edit Order" mat-raised-button color="accent"(click)="editOrder(order.orderId)"><mat-icon>map</mat-icon>map</button>
    </mat-cell>>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<!-- <div class="orders-container">
  <h3>Your Orders</h3>
  <div class="order" *ngFor="let order of dataSource.data">
    <app-order-card [order]="order"></app-order-card>
  </div>
</div> -->