
.edit-button{
    background-color:dodgerblue;
    color: white;
  }

  .mat-header-cell {
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    color : rgb(124, 87, 226);
    text-decoration-style: wavy ;
    font-size: 15Px;
}



  .orders-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.click{
  cursor: pointer;
}

.lock-click{
  cursor: context-menu;
}
