
<div *ngIf='!selectedOrder'>
 

  <!-- <mat-form-field>

    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field> -->
  <mat-icon class="click"(click)="refresh()">refresh</mat-icon>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="orderId">
      <mat-header-cell *matHeaderCellDef> Order Id </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.orderId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerId">
      <mat-header-cell *matHeaderCellDef> Customer </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <div *ngIf="order.customerId != null">{{order.customer.firstName}} {{order.customer.lastName}}</div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerPhone">
      <mat-header-cell *matHeaderCellDef> Customer Phone number </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <div *ngIf="order.customerId != null">{{order.customer.phone}}</div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let order">
            <div *ngIf="order.customerId != null">{{order.description}}</div>
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="motoboyName">
      <mat-header-cell *matHeaderCellDef> Moto Boy </mat-header-cell>
      <mat-cell *matCellDef="let order">
          <div *ngIf="order.motoboyId == null" style="color: red">waiting</div>
        <div *ngIf="order.motoboyId && order.customerId != null">{{order.motoboy.firstName}} {{order.motoboy.lastName}}</div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="localAddress">
      <mat-header-cell *matHeaderCellDef> Collecting Address </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.localAddress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="destAddress">
      <mat-header-cell *matHeaderCellDef> Delivery Address </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.destAddress}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.price}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="orderDate">
      <mat-header-cell *matHeaderCellDef> Order Time </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.orderDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef> Take an Order </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <mat-icon  class="click" *ngIf="order.motoboy === null" (click)="handleAsignToOrder(order,2)">add_circle</mat-icon>
        <mat-icon class="lock-click" style="color: burlywood" *ngIf="order.motoboyId">how_to_reg</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.status.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>>
      <mat-cell *matCellDef="let order">


         <span> <mat-icon matTooltip="Edit Order" class="click" mat-raised-button (click)="editOrder(order.orderId)">visibility</mat-icon> </span>
         <span *ngIf="order.statusId == 4">  <mat-icon matTooltip="Close Order" class="click" mat-raised-button (click)="closeOrder(order)">check_circle_outline</mat-icon> </span> 
      </mat-cell>>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<app-orderdelivered *ngIf='selectedOrder' [order]="selectedOrder"></app-orderdelivered>
<!-- <div class="orders-container">
  <h3>Your Orders</h3>
  <div class="order" *ngFor="let order of dataSource.data">
    <app-order-card [order]="order"></app-order-card>
  </div>
</div> -->