.edit-button{
    background-color:dodgerblue;
    color: white;
  }

  .orders-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px repeat(auto-fit, auto);
    
}