<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col">
      <h1>Life is better on a bike</h1>
      <p>
        Speed - bicycles do not stop. No traffic jams, no traffic lights and many shortcuts.
        Efficient and ecological - all deliveries are carried out without a drop of fuel, pollution or noise.
        Economical and affordable - unlike motorcycles, there are no expenses for car wear, no insurance expenses and
        no fuel expenses! Therefore, the prices for errands are much lower than usual.
      </p>
    </div>
    <div class="col">
      <img src="https://i.giphy.com/media/3o84Ufy4oR2l0nSdEs/giphy.webp" />
    </div>
  </div>
</div>