 <h1>Life is better on a bike</h1>
 <p>
        Speed - bicycles do not stop. No traffic jams, no traffic lights and many shortcuts.
        Efficient and ecological - all deliveries are carried out without a drop of fuel, pollution or noise.
        Economical and affordable - unlike motorcycles, there are no expenses for car wear, no insurance expenses and no fuel expenses! Therefore, the prices for errands are much lower than usual.
 </p>
 <div class="contenedor">
        <div class="bici">
          <span class="shadow"></span>
          <span class="shadow3"></span>
          <span class="rueda1"><span class="rayos"></span><span class="rayos3"></span></span>
          <span class="ruedita"></span>
           <span class="rueda2"><span class="rayos"></span><span class="rayos3"></span></span>
           <span class="ruedita3"></span>
          <span class="t2"></span>
          <span class="t4"></span>
          <span class="t5"></span>
          <span class="rot3"></span>
          
          <span class="cuadrado"></span>
          <span class="redon"></span>
          <span class="redon3"></span>
          <span class="t1"></span>
          <span class="t3"></span>
          
          <span class="asiento"></span>
          <span class="circ"></span>
          <span class="rot"></span>
          </div>
        <div class="nube">
        <div class="nubes"></div>
          <div class="nubes3"></div>
          <div class="nubes7"></div>
          <div class="nubes9"></div>
          <div class="nubes12"></div>
          </div>
        </div>
 
