.container {
  display: flex;
}

img {
    height: 70px;
    width: 70px;
}

.order-container {
    width: 400px;
    margin-left:0px;
    text-align: left;
    border: 1px solid yellowgreen;

}

.legendDelivery{
 font-size: 12px;
 padding-left: 7px;
 

}

.mat-form-field.mat-form-field {
    width: 350px;
}

.legendDelivery1{
  font-size: 12px;
  padding-left: 10px;
  
 
 }

 .app-map{ flex: 1; }


 

  label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #E3C298;
  }