.main{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
  padding: 30px;
  padding-top: 30px; 
}
.example-container{
  display: flex;
  flex-direction: column; 
}
.space{
    width: 35%; 
}
h1{
    text-align: center;
    color: #3f51b5;;
}
.main2{
    width: 60%; 
    display: flex;
    flex-direction: row; 
    margin: auto;
    padding: 30px;
    padding-top: 60px; 
}
.space2{
    width: 20%; 
}
.space3{
    width: 10%; 
}

.tada {
    animation-name: tada;
  }
  p{
      text-align: center;
  }