
<div>
<div class="space"></div>
<div  class="main"  >
<mat-card class="example-container">
  <div class="tada"><h1 class="tada" >Please login</h1></div>
  <mat-form-field>
    <input matInput  [(ngModel)]="userName" placeholder="User name">
  </mat-form-field>
  <mat-form-field>
    <input matInput  [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" >
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
</mat-card>
<p id="msg">{{ msg }}</p>
<mat-card class="form-buttons">
  <button mat-button color="primary" type="button" (click)="login()">Login</button> or
  <button mat-button color="primary" type="button" (click)="signup()">Register</button>
</mat-card>
</div>
<div class="space"></div>
</div>
<div *ngIf="toogle==1">
<div  class="main2">
    <div class="space2"></div>
    <mat-card  class="form-buttons">
        <button  mat-raised-button color="accent" type="button" class="white-icon" routerLink="/add-motoboy">
          <mat-icon>directions_bike</mat-icon>
          <span>Register as A Motoboy</span>
      </button>
    </mat-card>
    <div class="space3"></div>
  <mat-card>
      <button  mat-raised-button color="accent"  type="button" class="white-icon" routerLink="/add-customer">
        <mat-icon>add_to_photos</mat-icon>
        <span> Register as A New Customer</span>
    </button>
    </mat-card>
    <div class="space2"></div>
</div>
</div>
