.head {
    font-family: 'Roboto', serif;
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
    max-height: 50px;
    height: 100%;
}

.menu {
    text-align: left;
}

.white-icon {
    color: white;
}

.app-user-connected{
   padding-left: 40px;
   padding-top: 3px;
}

