<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark  mdb-color lighten-2 scrolling-navbar intro-fixed-nav"
    [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand font-weight-bold" routerLink=""> <strong>ezXpress</strong> </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/aboutUs">About</a>
            </li>
            <li class="nav-item waves-light" *ngIf="userType" mdbWavesEffect>
                <a class="nav-link" routerLink="/profile">My Profile</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/table">
                    <span *ngIf="userType === 'customer'"> My orders</span>
                    <span *ngIf="userType === 'motoboy'"> Open orders</span>
                </a>
            </li>
            <li class="nav-item waves-light" *ngIf="userType === 'customer'" mdbWavesEffect>
                <a class="nav-link" routerLink="/add-delivery">Express Delivery</a>
            </li>
        </ul>

        <span class="navbar-text white-text" *ngIf='currentUser != null'>
            You are connected as
            <b>{{currentUser.firstName}}
                {{currentUser.lastName}}</b>
        </span>
        <form class="form-inline">
            <form class="form-inline">
                <button mdbBtn type="button" color="cyan" class="waves-light" *ngIf='currentUser == null' routerLink="/login"
                    mdbWavesEffect> Signin/Signup</button>
                <button mdbBtn type="button" color="cyan" class="waves-light" (click)="this.authService.logoff()"
                    *ngIf='currentUser != null'>Logout</button>
            </form>
        </form>

    </links>

</mdb-navbar>