
<section class="view intro-2 rgba-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row flex-center pt-5 mt-3">
                <div class="col-md-6 text-center text-md-left margins">
                    <div class="white-text">
                        <h1 class="h1-responsive">ezXpress </h1>
                        <h6>Lorem ipsum dolor sit amet, consectetur
                            adipisicing
                            elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                            Commodi sequi
                            non animi ea dolor molestiae iste.</h6>
                        <br>
                        <a class="btn btn-outline-white">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
