
.intro-header {
    height: unset !important;
  }
  .intro-2 {
    background: url("https://ksr-ugc.imgix.net/assets/015/781/101/9bfd0b23738429e5645c9b865d84cded_original.png?ixlib=rb-1.1.0&crop=faces&w=1552&h=873&fit=crop&v=1489536055&auto=format&frame=1&q=92&s=2db5e22eba467d03a0a3df15caa9ca27")no-repeat center center;
    background-size: cover;
  }
  .view {
   height: 100vh !important;
  }
  .btn .fa {
    margin-left: 3px;
  }

  h6 {
    line-height: 1.7;
  }
  .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(207, 250, 15, 0.589), rgba(0, 195, 255, 0.644) 100%);
    height: 100vh !important;
  }
