.main{
    display: flex;
    flex-direction: row;
  }
  
  .row{
    display: flex;
    flex-direction: row;
  }
  .motoboy-container {
      display: flex;
      flex-direction: column;
      width: 40%;
      padding-top: 2%;
      padding-bottom: 2%;
    }
    .motoboy-container > * {
      width: 100%;
    }
    span {
    color: #5f7a7a;
      text-align: left;
      padding-top: 1%;
      padding-bottom: 1%;
    }
  
  .btn {
    margin-top: 2%;
  }
  .space1{
    width:30%;
    }
  
    .space{
      width:10%;
    }
    h1{
      text-align: center;
      color: #3f51b5;;
  }
  .SubmitRow{
    float: right;;
  
  }