<div class="main">
  <div class="space1"></div>
  <div class="motoboy-container">

    <h1>
      <mat-icon>edit</mat-icon>Edit your profile</h1>

    <mat-card>

      <div class="row">
        <mat-form-field>
          <input matInput [(ngModel)]=m otoboy.firstName placeholder="First Name">
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field>
          <input matInput [(ngModel)]=m otoboy.lastName placeholder="Last Name">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput [(ngModel)]=m otoboy.phoneNumber placeholder="Phone Number">
        </mat-form-field>

        <div class="space"></div>
        <mat-form-field>
          <input matInput [(ngModel)]=m otoboy.email placeholder="Email">
        </mat-form-field>
      </div>
      <div class="space"></div>
      <span> Add Photo</span>
      <input classe=" inputFile" (change)="onPhotofile($event)" type="file">

      <!-- <span>PhotoID</span>
        <input classe=" inputFile" type="file"> -->

      <!-- <mat-form-field>
        <input matInput [(ngModel)]= motoboy.photoId placeholder="Photo ID">
      </mat-form-field> -->

      <div class="SubmitRow">
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <button class="btn" (click)='submitEdit()' mat-raised-button color="accent">Save changes</button>
      </div>
    </mat-card>
  </div>
  <div class="space1"></div>
</div>