<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/add-motoboy">Register Motoboy</button>
    <button mat-button routerLink="/add-client">New Client</button>
    <button mat-button routerLink="/add-delivery">Xpress Delivery</button>
 
</mat-toolbar>
<div style="text-align:center">
  
      
   <app-delivery></app-delivery> 
  <!-- <add-motoboy></add-motoboy> -->
  <!-- <app-map></app-map> -->

  <!-- <app-maproute></app-maproute> -->

 <!-- <app-moto-share-live-location></app-moto-share-live-location> -->


  

