<mat-card>
    <mat-radio-group>
        <mat-radio-button value="1"> <mat-icon>sentiment_very_satisfied</mat-icon></mat-radio-button>
        <mat-radio-button value="2"><mat-icon>insert_emoticon</mat-icon></mat-radio-button>
        <mat-radio-button value="3"><mat-icon>sentiment_satisfied_alt</mat-icon></mat-radio-button>
        <mat-radio-button value="4"><mat-icon>sentiment_dissatisfied</mat-icon></mat-radio-button>
        <mat-radio-button value="5"><mat-icon>sentiment_very_dissatisfied</mat-icon></mat-radio-button>
      </mat-radio-group>
</mat-card>
<app-stepper></app-stepper>