<div class="container">
    <div class="row mt-5 pt-5 d-flex justify-content-center">
        <div class="col-12 col-md-auto ">
            <h1>Your profile</h1>
            <div class="user-container">
                <mdb-card>
                    <mdb-card-body>
                        <p>First Name: <span>{{currentUser.firstName}}</span></p>
                        <p>Last Name: <span>{{currentUser.lastName}}</span></p>
                        <p>Email: <span>{{currentUser.email}}</span></p>
                        <p>Phone Number: <span>{{currentUser.phoneNumber}}</span></p>
                        <p>Address: <span>{{currentUser.Address}}</span></p>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>