.radio_item{
display: none !important;
}

.label_item {
opacity: 0.3;
}

.radio_item:checked + label {
opacity: 1;
}

img {
    height: 70px;
    width: 70px;
}
/* .container {
  display: flex;
  padding: 10px;
}
img {
    height: 70px;
    width: 70px;
}
.order-container {
    width: 400px;
    margin-left:0px;
    text-align: left;
    
}
.legendDelivery{
 font-size: 12px;
 padding-left: 7px;
}

.mat-form-field.mat-form-field {
    width: 350px;
}

.legendDelivery1{
  font-size: 12px;
  padding-left: 10px;
  
 
 }

 .app-map{ flex: 1; }

#minimumPrice{
  font-style: italic;
  font-size: 18px;
}
 
#spinner{
  margin-left: 10px;
} */
  /* label > input{  */
    /* HIDE RADIO */
    /* visibility: hidden;  */
    /* Makes input not-clickable */
    /* position: absolute;  */
    /* Remove input from document flow */
  /* }
  label > input + img{ 
    cursor:pointer;
    border:2px solid transparent;
  }
  label > input:checked + img{ 
    border:2px solid #E3C298;
  }
  h2{
    color: #3f51b5;;
  }
  p{
    color: #3f51b5;;
  } */