*{
  background-color: #3f51b5;
}

p{
  font-family: 'Shadows Into Light', cursive;
  background-color: whitesmoke;
}

strong{
  background-color: whitesmoke;
}
.motoboy-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
  /* border: 3px solid rgb(89, 0, 255); */
  padding: 30px;
  padding-top: 30px;
  
}
.motoboy-container > * {
  width: 90%;
  background-color: whitesmoke;
}
.img-container{
  width: 15%; 
}
img{
  width: 100%;
  border-radius: 50%;
}
.motoDeatils{
display: flex;
flex-direction: column;
background-color: #3f51b5;
}
span {
color: #5f7a7a;
  text-align: left;
  padding-top: 1%;
  padding-bottom: 1%;
}
.btn {
margin-top: 2%;
}
.card{
display: flex;
flex-direction: row;
padding: 50px;
}
.edit{
padding-top: 100px;
}
.space{
width:30%;
}