

p{
    color: #3f51b5;
  background-color: white;
}
h1{
  text-align: center
}
span {
color: black;
}
mat-card{
  margin: auto;
  width: 33%;
}
.user-container {
display: flex;
background-color: white;

} 