
<h1>My Profile</h1> 
<div  *ngIf="userType === 'motoboy'" class="card" >  
    <div class = "space"></div>
  <div  class="img-container">
        <div calss="pic">
              <img src='assets/uploads/{{currentUser.motoboyId}}.png'>
        </div>  
  </div>
  <div class="motoboy-container" >
      <mat-card >
          <strong>First Name:</strong><b><p>{{currentUser.firstName}}</p></b>
          <strong>Last Name:</strong><b><p>{{currentUser.lastName}}</p></b>
          <strong>Email:</strong><b><p>{{currentUser.email}}</p></b>
          <strong>PhoneNumber:</strong><b><p>{{currentUser.phoneNumber}}</p></b>
               
      </mat-card>
  </div>
  <div class = "space"></div>
</div>

<div  *ngIf="userType === 'customer'" class="card">  
    <div class = "space"></div>
  <div  class="img-container" >
  </div>
  <div class="customer-container" >
      <mat-card >
          <strong>First Name:</strong><b><p>{{currentUser.firstName}}</p></b>
          <strong>Last Name:</strong><b><p>{{currentUser.lastName}}</p></b>
          <strong>Email:</strong><b><p>{{currentUser.email}}</p></b>
          <strong>PhoneNumber:</strong><b><p>{{currentUser.phoneNumber}}</p></b>
          <strong>Address:</strong><b><p>{{currentUser.Address}}</p></b>
                
      </mat-card>
  </div>
  <div class = "space"></div>
</div>
