<h2> Thank you for your Order </h2>
<p> The system is processing your order now. Soon you'll get a confirmation to your email</p>

<p>You can track the order status on <button mdbBtn type="button" color="default" mdbWavesEffect routerLink="/table"
        (click)='this.dialogRef.close()'>New
        My orders</button> </p>
<p> You will receive an SMS when a delivery person will be on his way to pick it up</p>
<button mdbBtn type="button" color="default" outline="true" mdbWavesEffect routerLink='/' (click)='this.dialogRef.close()'>New
    Close </button>