
<div class="client-container">
  <mat-form-field>
    <input matInput [(ngModel)]= newClient.email placeholder="User Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= newClient.firstName placeholder="First Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= newClient.lastName placeholder="Last Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= newClient.phoneNumber placeholder="ID Number">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= newClient.address placeholder="Phone Number">
  </mat-form-field>

 


  <button class="btn" (click)='submitNewClient()' mat-raised-button color="accent">Submit</button>
</div>

