<div class="main">
  <div class="space1"></div>

  <div class="client-container">
    <h1>Register as a New customer</h1>

    <mat-card>
      <div class="row">
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.userName placeholder="User Name">
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.firstName placeholder="First Name">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.lastName placeholder="Last Name">
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.email placeholder="Email">
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.phoneNumber placeholder="Phone Number">
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.address placeholder="Address">
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field>
          <input matInput [(ngModel)]=password placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div class="space"></div>
        <mat-form-field>
          <input matInput [(ngModel)]=newClient.password placeholder="Confirm your password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>


      <div class="SubmitRow">
      <button class="btn" (click)='submitNewClient()' mat-raised-button color="accent">Submit</button>
      </div>

  </mat-card>
</div>


</div>