





<div class="motoboy-container">
  <mat-form-field>
    <input matInput [(ngModel)]= motoboy.email placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= motoboy.firstName placeholder="First Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= motoboy.lastName placeholder="Last Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= motoboy.idNumber placeholder="ID Number">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]= motoboy.phoneNumber placeholder="Phone Number">
  </mat-form-field>


  <span>Photo</span>
    <input classe=" inputFile" (change)="onPhotofile($event)" type="file">


   <!-- <span>PhotoID</span>
    <input classe=" inputFile" type="file"> -->

  <!-- <mat-form-field>
    <input matInput [(ngModel)]= motoboy.photoId placeholder="Photo ID">
  </mat-form-field> -->

  <button class="btn" (click)='submitMotoBoy()' mat-raised-button color="accent">Submit</button>
</div>
