
<div class="row w3-theme content">
    <div class="column img">
        <mat-card-title class="title">
            <div class="space">
                <h5>Step 1</h5>
                <h6><span>Sign up for our service to place a new order in Express delivery</span></h6>
            </div>
        </mat-card-title>
        <mat-card class="img-card">
            <img src="assets/img/express-delivery.jpg"  alt="Express delivery" width="100%">
        </mat-card>   
    </div>
    <div class="column img">
        <mat-card-title class="title">
            <div class="space">
                <h5>Step 2</h5>
                <h6><span>A motoboy is quickly dispatched with your order</span></h6>
            </div>
        </mat-card-title>
        <mat-card class="img-card">
            <img src="assets/img/delivery-service.jpg"  alt="Delivery service" width="100%" >
        </mat-card>
    </div>
    <div class="column img">
        <mat-card-title class="title">
            <div class="space">
                <h5>Step 3</h5>
                <h6><span>And delivers your package to its destination</span></h6>
            </div>
        </mat-card-title>
        <mat-card class="img-card">
            <img src="assets/img/delivery-done.jpg"  alt="Service done" width="100%">
        </mat-card>
    </div>
</div>    

