<!-- <div class="container">
    <div class="text-center">
        <h1>EzExpress</h1>
        <h2>Because it's easy to receive your package with our service</h2>
    </div>


    <div class="row">
        <div class="col-md-4">
            <mat-card class="img-card">
                <img src="assets/img/express-delivery.jpg" alt="Express delivery" width="100%">
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="img-card">
                <img src="assets/img/delivery-service.jpg" alt="Delivery service" width="100%">
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="img-card">
                <img src="assets/img/delivery-done.jpg" alt="Service done" width="100%">
            </mat-card>
        </div>
    </div> -->
<section class="view intro-2 rgba-gradient">
    <div class="full-bg-img">
        <div class="container flex-center">
            <div class="row flex-center pt-5 mt-3">
                <div class="col-md-6 text-center text-md-left margins">
                    <div class="white-text">
                        <h1 class="h1-responsive">Make purchases with our app </h1>
                        <h6>Lorem ipsum dolor sit amet, consectetur
                            adipisicing
                            elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                            Commodi sequi
                            non animi ea dolor molestiae iste.</h6>
                        <br>
                        <a class="btn btn-outline-white">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>