
<div class="row w3-theme content">
    <div class="column img">
        <mat-card class="img-card">
            <img src="assets/img/express-delivery.jpg"  alt="Express delivery" width="100%">
        </mat-card>   
    </div>
    <div class="column img">
        <mat-card class="img-card">
            <img src="assets/img/delivery-service.jpg"  alt="Delivery service" width="100%" >
        </mat-card>
    </div>
    <div class="column img">
        <mat-card class="img-card">
            <img src="assets/img/delivery-done.jpg"  alt="Service done" width="100%">
        </mat-card>
    </div>
</div>    

