.head {
    font-family: 'Roboto', serif;
    text-align: center;
    letter-spacing: 5px;
    width: 100%;
    flex: row ;
}

.menu {
    padding-left: 30px;
    text-align: left;
}

.white-icon {
    color: white;
}
.space{
    width: 10%;
}
