<div class="w3-theme" id="container">
    <div class="head">
        <h2 class="w3-theme">Order Card</h2>
    </div>
</div>
<div class="main">
    <mat-dialog-content class="w3-theme-l1 example-container">

        <!--<mat-card-content *ngIf="order.orderDate != null"> -->
        <label>Order date: </label>
        <span>{{order.orderDate}}</span>
        <!--</mat-card-content> -->
        <label>First name customer: </label>
        <mat-card-content>
            <span>{{order.customer.firstName}}</span>
        </mat-card-content>
        <mat-card-content>
            <label>First name motoboy: </label>
            <span *ngIf="order.motoboyId">{{order.motoboy.firstName}}</span>
        </mat-card-content>
        
        <mat-card-content>
            <label>Destination Address:</label>
            <span> {{order.destAddress}}</span>
        </mat-card-content>
        <mat-card-content>
            <label>Description:</label>
            <span> {{order.description}}</span>
        </mat-card-content>
        <mat-card-content>
            <label>Price</label>
            <span> {{order.price}}</span>
        </mat-card-content>
        
        <button *ngIf="order.motoboyId && currentUser.motoboyId" (click)="handleChangeStatus(3)">pickedup order</button>
        <button *ngIf="order.motoboyId && currentUser.motoboyId" (click)="handleChangeStatus(4)">order deliverd</button>
    
    </mat-dialog-content>
    <app-stepper [order]="order"></app-stepper>
    <mat-dialog-actions>
        <button mat-raised-button class="w3-theme" (click)="close()">Close</button>
    </mat-dialog-actions>

</div>