#container{
  width: 100%;
  padding: 0px 0px 0px 2px;
  margin:2px 2px 2px 2px;
}
.head {
  font-family: 'Roboto', serif;
  text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
}
  


.space{
    width: 35%; 
}

  
label {
  margin: 5px;
  display: block; 
  width: 200px;  
  font:  bold 18px 'Roboto', serif;
}

span{
 
    left: 200px !important;
    width: 400px !important;  
    color: white;
    font: 15px 'Roboto', serif;
}